* {
    font-size: 48px;
    font-family: "Press Start 2P", system-ui;
    color: #000000;
    text-decoration: none;
    line-height: 69px;
    background-color: #000000;
    color: rgb(255, 0, 200);
}

.mainPageContent {
    display: flex;
    margin: 10%;
}

.mainPageContent div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPageRedirect {
    flex-direction: column;

}

a:hover {
    color: rgb(255, 154, 233);
}